NodeHistory
[{"id":"c6379f86.4c0dc","type":"link in","z":"5eef0590.b9ec7c","name":"node history","links":["a941efe5.4a3a6"],"x":160.625,"y":208.75,"wires":[["7e6fcfe8.53223","2ceb5214.2a1c16"]]},{"id":"7e6fcfe8.53223","type":"ui_text","z":"5eef0590.b9ec7c","group":"881c453c.bb461","order":0,"width":0,"height":0,"name":"","label":"Node: ","format":"{{msg.payload}}","layout":"row-spread","x":361.875,"y":180,"wires":[]},{"id":"20fb03fe.cfaf2c","type":"ui_button","z":"5eef0590.b9ec7c","name":"","group":"881c453c.bb461","order":0,"width":0,"height":0,"passthru":false,"label":"Back To Node List","color":"","bgcolor":"","icon":"","payload":"NodeCreate","payloadType":"str","topic":"","x":260.625,"y":762.5,"wires":[["d15afc7e.294858"]]},{"id":"d15afc7e.294858","type":"ui_ui_control","z":"5eef0590.b9ec7c","name":"ui control","x":496.875,"y":763.75,"wires":[[]]},{"id":"2ceb5214.2a1c16","type":"function","z":"5eef0590.b9ec7c","name":"","func":"var node = msg.payload;\n\nmsg = {};\n\nmsg.payload = {\"Addr\":node};\nmsg.limit = 100;\nmsg.sort = {\"Time\":-1};\n//,{\"limit\":10}\n\nreturn msg;","outputs":1,"noerr":0,"x":334.375,"y":347.5,"wires":[["304bf4de.290d94","fe10266c.345f8"]]},{"id":"4ec8857b.a27334","type":"debug","z":"5eef0590.b9ec7c","name":"","active":false,"console":"false","complete":"true","x":955.625,"y":263.75,"wires":[]},{"id":"304bf4de.290d94","type":"debug","z":"5eef0590.b9ec7c","name":"","active":true,"console":"false","complete":"false","x":508.125,"y":516.25,"wires":[]},{"id":"6b70b3e3.d8b204","type":"function","z":"5eef0590.b9ec7c","name":"","func":"for( var i = 0; i<msg.payload.length; i++)\n{\n    var oldtime = new Date(msg.payload[i].Time);\n    var date = (oldtime.getMonth()+1)+'/'+oldtime.getDate()+'/'+oldtime.getFullYear();\n    var time = oldtime.getHours() + \":\" + oldtime.getMinutes() + \":\" + oldtime.getSeconds();\n    msg.payload[i].Time = date+' -- '+time;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":858.75,"y":438.75,"wires":[["be9b585f.44134","63e3679e.890238"]]},{"id":"be9b585f.44134","type":"debug","z":"5eef0590.b9ec7c","name":"","active":true,"console":"false","complete":"true","x":1225.625,"y":380,"wires":[]},{"id":"fe10266c.345f8","type":"mongodb in","z":"5eef0590.b9ec7c","mongodb":"350a06b5.385f92","name":"","collection":"MolexTagData","operation":"find","x":626.875,"y":262.5,"wires":[["4ec8857b.a27334","6b70b3e3.d8b204"]]},{"id":"63e3679e.890238","type":"ui_template","z":"5eef0590.b9ec7c","group":"3c61fb94.9b970c","name":"","order":2,"width":"16","height":"10","format":"<html>\n<head>\n<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n<table id=\"RoomTable\">\n  <tr>\n    <th>Node</th>\n    <th>Temp (F)</th>\n    <th>Humidity (%)</th>\n    <th>Light</th>\n    <th>Time (24hr)</th>\n  </tr>\n</table>\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n    \n            //just a way of parsing what kind of message came through\n            var table = document.getElementById(\"RoomTable\");\n\n            var rowCount = table.rows.length; \n            while(--rowCount) table.deleteRow(rowCount);\n        \n            for(var i = 0;i<data.length;i++){\n                var row  = table.insertRow();\n                row.id = data[i];\n                var time = row.insertCell(0);\n                var light = row.insertCell(0);\n                var humid = row.insertCell(0);\n                var temp = row.insertCell(0);\n                var addr = row.insertCell(0);\n                addr.innerHTML = data[i].Addr;\n                temp.innerHTML = data[i].Temp;\n                humid.innerHTML = data[i].Humidity;\n                light.innerHTML = data[i].Luminosity;\n                time.innerHTML = data[i].Time;\n\n            }\n        });\n    })(scope);\n</script>\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"x":1135,"y":605,"wires":[[]]},{"id":"881c453c.bb461","type":"ui_group","z":"","name":"Node_History","tab":"af150ed3.744158","disp":false,"width":"6"},{"id":"350a06b5.385f92","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red-db","name":"nodeRedDB"},{"id":"3c61fb94.9b970c","type":"ui_group","z":"","name":"NodeHistoryTable","tab":"af150ed3.744158","disp":true,"width":"16"},{"id":"af150ed3.744158","type":"ui_tab","z":"","name":"NodeHistory","icon":"dashboard"}]