NodeCreate
[{"id":"4af2e54e.3ffcec","type":"tcp in","z":"a57ec84.cbb5d38","name":"","server":"server","host":"","port":"3300","datamode":"single","datatype":"utf8","newline":"","topic":"","base64":false,"x":154.28573608398438,"y":167.14285278320312,"wires":[["9c77e429.859e4"]]},{"id":"5434d0fc.e50538","type":"inject","z":"a57ec84.cbb5d38","name":"","topic":"","payload":"Addr,81,T,30,H,35,L,1","payloadType":"str","repeat":"","crontab":"","once":false,"x":167.71429443359375,"y":233.509521484375,"wires":[["9c77e429.859e4"]]},{"id":"9c77e429.859e4","type":"function","z":"a57ec84.cbb5d38","name":"","func":"data = msg.payload.split(\",\");\n\nvar obj = {\n            \"Time\": Date.now(),\n            \"Addr\": data[1], \n            \"Temp\": data[3], \n            \"Humidity\": data[5],\n            \"Luminosity\" : data[7]\n            };\nvar message = {};\nmessage.payload = obj;\n\nreturn message","outputs":1,"noerr":0,"x":422.1429138183594,"y":263.67138671875,"wires":[["829a5c8b.5a2d8","f9a4ca2a.bf9df","2d216dd3.7aeeda"]]},{"id":"829a5c8b.5a2d8","type":"function","z":"a57ec84.cbb5d38","name":"","func":"/*\nvar today = new Date();\nvar date = (today.getMonth()+1)+'/'+today.getDate()+'/'+today.getFullYear();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar dateTime = date+' '+time;\n\nmsg.payload.Time = dateTime;\n\nvar current_nodes = flow.get('current_nodes');\n\nif(current_nodes.indexOf(msg.payload.Addr)==-1)\n{\n    return;\n}\n\nelse\n{\n    var new_msg = {};\n    new_msg.options = msg.payload;\n    return new_msg;\n}\n*/\n\n//just reminding table to update now that new data is here\nvar current_nodes = flow.get('current_nodes');\n\nmsg.options = current_nodes;\n\nreturn msg;","outputs":1,"noerr":0,"x":571.2861328125,"y":309.2951965332031,"wires":[["e8c7da30.c2d6a8","bcc104.c48b97"]]},{"id":"61864069.0f927","type":"inject","z":"a57ec84.cbb5d38","name":"","topic":"","payload":"Addr,82,T,72,H,55,L,0","payloadType":"str","repeat":"","crontab":"","once":false,"x":184.28575134277344,"y":291.509521484375,"wires":[["9c77e429.859e4"]]},{"id":"f9a4ca2a.bf9df","type":"debug","z":"a57ec84.cbb5d38","name":"","active":true,"console":"false","complete":"true","x":646.607177734375,"y":206.92144775390625,"wires":[]},{"id":"26cd14f.67e6cec","type":"link in","z":"a57ec84.cbb5d38","name":"Go to room","links":["6c926a2f.5e5fdc"],"x":106.30950927734375,"y":1016.1902465820312,"wires":[["8006fdd3.367e78","7e6daa7c.f74884","7b8bbb.f2d22c44"]]},{"id":"8006fdd3.367e78","type":"function","z":"a57ec84.cbb5d38","name":"","func":"var rooms = global.get('rooms');\n\nvar current_room = {};\ncurrent_room.payload  = rooms.payload[msg.payload];\n\nflow.set('current_room',current_room);\n\nreturn current_room;","outputs":1,"noerr":0,"x":327.6784362792969,"y":936.4283447265625,"wires":[["a719d1e3.c92e88","a9f136d5.450e4"]]},{"id":"a9f136d5.450e4","type":"debug","z":"a57ec84.cbb5d38","name":"","active":false,"console":"false","complete":"true","x":560.2142944335938,"y":883.9759216308594,"wires":[]},{"id":"8a22fb16.e7807","type":"ui_form","z":"a57ec84.cbb5d38","name":"","label":"","group":"b4c85a83.f23da8","order":1,"width":0,"height":0,"options":[{"label":"Submit Node Address","value":"addr","type":"text","required":false}],"formValue":{"addr":""},"payload":"","topic":"","x":102.85714721679688,"y":477.8570861816406,"wires":[["402900cd.b1845","d06e6b23.54e96"]]},{"id":"402900cd.b1845","type":"function","z":"a57ec84.cbb5d38","name":"store nodes","func":"var rooms_nodes = global.get('rooms_nodes');\nvar rooms_nodes_list = global.get('rooms_nodes_list');\n\nvar current_room = flow.get('current_room').payload;\n\nvar current_nodes_ix = rooms_nodes_list.indexOf(current_room);\n\nvar current_room_nodes = rooms_nodes[current_nodes_ix];\n\ncurrent_nodes = current_room_nodes.nodes;\n\nvar new_node = msg.payload.addr;\n\nif(new_node === undefined) \n{\n    var msg = {};\n    msg.options = current_nodes;\n    flow.set('current_nodes',current_nodes);\n    return msg\n\n}\n\nelse if (current_nodes.length === 0)\n{\n    current_nodes.push(new_node);\n    current_room_nodes.nodes = current_nodes;\n    rooms_nodes[current_nodes_ix] = current_room_nodes;\n    \n    flow.set('current_nodes',current_nodes);\n    \n    var msg = {};\n    msg.options = current_nodes;\n    return msg;\n\n}\n\nelse if(current_nodes.indexOf(new_node)==-1)\n{\n    current_nodes.push(new_node);\n    current_room_nodes.nodes = current_nodes;\n    rooms_nodes[current_nodes_ix] = current_room_nodes;\n    \n    flow.set('current_nodes',current_nodes);\n    \n    var msg = {};\n    msg.options = current_nodes;\n    return msg;\n}\n\nelse\n{\n    var msg = {};\n    msg.options = current_nodes;\n    flow.set('current_nodes',current_nodes);\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":469.7142028808594,"y":538.1571044921875,"wires":[["aa7646c5.e1e3b8","c461533d.ff22b","cc7ed2de.d4861","c5ecdae0.c7ab4"]]},{"id":"aa7646c5.e1e3b8","type":"debug","z":"a57ec84.cbb5d38","name":"","active":false,"console":"false","complete":"true","x":606.3214721679688,"y":456.6117248535156,"wires":[]},{"id":"d06e6b23.54e96","type":"debug","z":"a57ec84.cbb5d38","name":"","active":false,"console":"false","complete":"true","x":123.21243286132812,"y":630.4008178710938,"wires":[]},{"id":"c461533d.ff22b","type":"ui_dropdown","z":"a57ec84.cbb5d38","name":"","label":"Remove  Node","place":"Select option","group":"b4c85a83.f23da8","order":4,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":730.6411743164062,"y":640.3532104492188,"wires":[["5cac1080.a7626"]]},{"id":"5cac1080.a7626","type":"function","z":"a57ec84.cbb5d38","name":"update_remove_nodes","func":"var rm_room = msg.payload;\n\nvar current_nodes = flow.get('current_nodes');\n\nvar rm_ix = current_nodes.indexOf(rm_room);\n\nif (rm_ix===0)\n{current_nodes.shift();}\n\nelse {\ncurrent_nodes.splice(rm_ix,1);\n}\n\nvar nodes = {};\nnodes.options = current_nodes;\n\nreturn nodes;","outputs":1,"noerr":0,"x":751.0177001953125,"y":735.3336791992188,"wires":[["c461533d.ff22b","29f206cb.5a445a","cc7ed2de.d4861","c5ecdae0.c7ab4"]]},{"id":"118d4dd3.1eddf2","type":"ui_button","z":"a57ec84.cbb5d38","name":"","group":"b4c85a83.f23da8","order":3,"width":0,"height":0,"passthru":false,"label":"Back to Rooms","color":"","bgcolor":"","icon":"","payload":"RoomCreate","payloadType":"str","topic":"","x":869.5,"y":949,"wires":[["8dde8ec4.cd5f4","87c0d0e7.ae7438"]]},{"id":"a719d1e3.c92e88","type":"ui_text","z":"a57ec84.cbb5d38","group":"56422e9a.26f86","order":1,"width":0,"height":0,"name":"","label":"Current Room:","format":"{{msg.payload}}","layout":"row-left","x":576.25,"y":971,"wires":[]},{"id":"7a5ae94a.9771f8","type":"ui_ui_control","z":"a57ec84.cbb5d38","name":"ui control","x":241.51785278320312,"y":710.1785888671875,"wires":[["402900cd.b1845"]]},{"id":"7e6daa7c.f74884","type":"function","z":"a57ec84.cbb5d38","name":"","func":"msg.payload = \"NodeCreate\";\nreturn msg;","outputs":1,"noerr":0,"x":141.87506103515625,"y":867.1428833007812,"wires":[["7a5ae94a.9771f8"]]},{"id":"8dde8ec4.cd5f4","type":"ui_ui_control","z":"a57ec84.cbb5d38","name":"ui control","x":1092.5,"y":1080,"wires":[[]]},{"id":"87c0d0e7.ae7438","type":"link out","z":"a57ec84.cbb5d38","name":"back to rooms","links":["8756e2cb.1c9e28"],"x":1115.625,"y":951.25,"wires":[]},{"id":"29f206cb.5a445a","type":"debug","z":"a57ec84.cbb5d38","name":"","active":false,"console":"false","complete":"true","x":996.4285888671875,"y":811.4286499023438,"wires":[]},{"id":"7b8bbb.f2d22c44","type":"debug","z":"a57ec84.cbb5d38","name":"","active":false,"console":"false","complete":"true","x":337.8571472167969,"y":1055.71435546875,"wires":[]},{"id":"e8c7da30.c2d6a8","type":"debug","z":"a57ec84.cbb5d38","name":"","active":false,"console":"false","complete":"true","x":767.857666015625,"y":264.28558349609375,"wires":[]},{"id":"cc7ed2de.d4861","type":"ui_dropdown","z":"a57ec84.cbb5d38","name":"","label":"Go To Node","place":"Select option","group":"b4c85a83.f23da8","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1222.5,"y":645,"wires":[["96f2c809.0bbc08","a941efe5.4a3a6"]]},{"id":"96f2c809.0bbc08","type":"function","z":"a57ec84.cbb5d38","name":"","func":"msg.payload = \"NodeHistory\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1307.7498779296875,"y":752.0000610351562,"wires":[["3cb58554.65959a","23b43ab5.5756f6"]]},{"id":"3cb58554.65959a","type":"debug","z":"a57ec84.cbb5d38","name":"","active":false,"console":"false","complete":"true","x":1308.3214111328125,"y":929.319091796875,"wires":[]},{"id":"a941efe5.4a3a6","type":"link out","z":"a57ec84.cbb5d38","name":"go to node history","links":["c6379f86.4c0dc"],"x":1445.65966796875,"y":646.6381225585938,"wires":[]},{"id":"23b43ab5.5756f6","type":"ui_ui_control","z":"a57ec84.cbb5d38","name":"ui control","x":1486.875,"y":863.75,"wires":[[]]},{"id":"2d216dd3.7aeeda","type":"mongodb out","z":"a57ec84.cbb5d38","mongodb":"350a06b5.385f92","name":"","collection":"MolexTagData","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":620.9822387695312,"y":82.67855072021484,"wires":[]},{"id":"c5ecdae0.c7ab4","type":"function","z":"a57ec84.cbb5d38","name":"","func":"var nodes = msg.options;\n\nmsg = {};\n\nmsg.payload = {\"Addr\": { $in : nodes}};\nmsg.limit = 100;\nmsg.sort = {\"Time\":-1};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":908.928466796875,"y":479.107177734375,"wires":[["3e9c1489.3d0d9c","d576f95c.e0c798"]]},{"id":"2e79df73.e5e2e8","type":"debug","z":"a57ec84.cbb5d38","name":"","active":true,"console":"false","complete":"true","x":1522.142822265625,"y":304.28564453125,"wires":[]},{"id":"3e9c1489.3d0d9c","type":"debug","z":"a57ec84.cbb5d38","name":"","active":true,"console":"false","complete":"true","x":1007.857177734375,"y":301.428466796875,"wires":[]},{"id":"d576f95c.e0c798","type":"mongodb in","z":"a57ec84.cbb5d38","mongodb":"350a06b5.385f92","name":"","collection":"MolexTagData","operation":"find","x":1191.9647216796875,"y":506.0715026855469,"wires":[["f1df8f65.a72ed8"]]},{"id":"f1df8f65.a72ed8","type":"function","z":"a57ec84.cbb5d38","name":"","func":"var nodes = flow.get('current_nodes');\n\nfunction compare(a,b) {\n  if (parseInt(a)< parseInt(b))\n    return -1;\n  if (parseInt(a) > parseInt(b))\n    return 1;\n  return 0;\n}\n\nnodes.sort(compare)\n\n//msg.payload = nodes;\n//return msg;\n\nvar recent_data = [];\n\nfor(var n=0; n < nodes.length; n++){\n    \n    //placeholder for if nothing exists in databse\n    var temp = {}\n    temp.Addr = nodes[n];\n    temp.Temp = 0;\n    temp.Humidity = 0;\n    temp.Luminosity = 0;\n    temp.Time = \"waiting for report\";\n    \n    recent_data.push(temp);\n    \n    //replace if data does exist recently in database\n    for(var i = 0; i<msg.payload.length; i++){\n        if(msg.payload[i].Addr==nodes[n]){\n            \n            var oldtime = new Date(msg.payload[i].Time);\n            var date = (oldtime.getMonth()+1)+'/'+oldtime.getDate()+'/'+oldtime.getFullYear();\n            var time = oldtime.getHours() + \":\" + oldtime.getMinutes() + \":\" + oldtime.getSeconds();\n            msg.payload[i].Time = date+' -- '+time;\n            \n            recent_data[n]=msg.payload[i];\n            break;\n        }\n        \n    }\n}\n\nmsg = {};\nmsg.payload = recent_data;\nreturn msg;","outputs":1,"noerr":0,"x":1336.4287109375,"y":352.8570251464844,"wires":[["2e79df73.e5e2e8","9a389836.094248"]]},{"id":"9a389836.094248","type":"ui_template","z":"a57ec84.cbb5d38","group":"56422e9a.26f86","name":"","order":2,"width":"16","height":"10","format":"<html>\n<head>\n<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n<table id=\"RoomTable\">\n  <tr>\n    <th>Node</th>\n    <th>Temp (F)</th>\n    <th>Humidity (%)</th>\n    <th>Light</th>\n    <th>Time (24hr)</th>\n  </tr>\n</table>\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n    \n            //just a way of parsing what kind of message came through\n            var table = document.getElementById(\"RoomTable\");\n\n            var rowCount = table.rows.length; \n            while(--rowCount) table.deleteRow(rowCount);\n        \n            for(var i = 0;i<data.length;i++){\n                var row  = table.insertRow();\n                var time = row.insertCell(0);\n                var light = row.insertCell(0);\n                var humid = row.insertCell(0);\n                var temp = row.insertCell(0);\n                var addr = row.insertCell(0);\n                addr.innerHTML = data[i].Addr;\n                temp.innerHTML = data[i].Temp;\n                humid.innerHTML = data[i].Humidity;\n                light.innerHTML = data[i].Luminosity;\n                time.innerHTML = data[i].Time;\n\n            }\n        });\n    })(scope);\n</script>\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"x":1491.4285888671875,"y":510.0000305175781,"wires":[[]]},{"id":"bcc104.c48b97","type":"delay","z":"a57ec84.cbb5d38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":756.4285714285713,"y":379.99999999999994,"wires":[["c5ecdae0.c7ab4"]]},{"id":"b4c85a83.f23da8","type":"ui_group","z":"","name":"Nodes to Add","tab":"c24778ae.23076","order":1,"disp":true,"width":"6"},{"id":"56422e9a.26f86","type":"ui_group","z":"","name":"Node Data","tab":"c24778ae.23076","disp":true,"width":"16"},{"id":"350a06b5.385f92","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red-db","name":"nodeRedDB"},{"id":"c24778ae.23076","type":"ui_tab","z":"","name":"NodeCreate","icon":"","order":2}]