RoomCreate
[{"id":"31c718e8.b33ee","type":"ui_form","z":"fa29b442.55ef48","name":"","label":"","group":"8fe82aa7.7e168","order":0,"width":0,"height":0,"options":[{"label":"Add Room","value":"NewRoom","type":"text","required":false}],"formValue":{"NewRoom":""},"payload":"","topic":"","x":84.28573608398438,"y":191.35713958740234,"wires":[["116a7ff5.d30bc8","28f727d3.e4f05"]]},{"id":"116a7ff5.d30bc8","type":"function","z":"fa29b442.55ef48","name":"store rooms","func":"var new_room = msg.payload.NewRoom;\n\nvar rooms = {};\nrooms = flow.get('rooms');\n\nif (rooms === undefined)\n{\n    var room_list =[];\n    room_list.push(new_room);\n  \n    rooms = {};\n    rooms.payload = room_list;\n\n    flow.set('rooms',rooms);\n    global.set('rooms',rooms);\n    \n    return rooms\n}\n\nif(rooms.payload.indexOf(new_room) == -1)\n{\n    rooms.payload.push(new_room);\n}\n\nflow.set('rooms',rooms);\nglobal.set('rooms',rooms);\n\nreturn rooms","outputs":1,"noerr":0,"x":278.2857208251953,"y":181.65714263916016,"wires":[["8656d625.fe35a"]]},{"id":"28f727d3.e4f05","type":"debug","z":"fa29b442.55ef48","name":"","active":false,"console":"false","complete":"true","x":167.92666625976562,"y":330.4723205566406,"wires":[]},{"id":"c312f328.3d6e4","type":"ui_dropdown","z":"fa29b442.55ef48","name":"","label":"Remove Room","place":"Select option","group":"8fe82aa7.7e168","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":657.7838745117188,"y":396.71043395996094,"wires":[["d7c0a087.9e1898","c46cb1de.639ea8"]]},{"id":"8656d625.fe35a","type":"function","z":"fa29b442.55ef48","name":"","func":"var msg2 = {};\n\nmsg2.options = msg.payload;\n\nreturn msg2;","outputs":1,"noerr":0,"x":416.55670166015625,"y":316.73309326171875,"wires":[["c312f328.3d6e4","cdd3b1b2.703458","4fafb5b7.26887c","f0e259a4.5fc718"]]},{"id":"d7c0a087.9e1898","type":"function","z":"fa29b442.55ef48","name":"","func":"var rm_room = msg.payload;\n\nvar current_rooms = flow.get('rooms').payload\n\nif(rm_room===undefined)\n{\n    return\n}\n\nvar rm_ix = current_rooms.indexOf(rm_room);\n\nif (rm_ix===0)\n{current_rooms.shift();}\n\nelse {\ncurrent_rooms.splice(rm_ix,1);\n}\n\nvar rooms = {};\nrooms.payload = current_rooms;\nflow.set('rooms',rooms);\n\nvar rooms = {};\nrooms.options = current_rooms;\nreturn rooms;","outputs":1,"noerr":0,"x":663.874755859375,"y":523.1194152832031,"wires":[["c312f328.3d6e4","cdd3b1b2.703458","4fafb5b7.26887c"]]},{"id":"cdd3b1b2.703458","type":"ui_dropdown","z":"fa29b442.55ef48","name":"","label":"Go To Room","place":"Select option","group":"8fe82aa7.7e168","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":951.7212982177734,"y":319.1951904296875,"wires":[["367ee749.031218"]]},{"id":"367ee749.031218","type":"function","z":"fa29b442.55ef48","name":"","func":"var go_to_room = msg.payload;\nvar rooms = flow.get('rooms');\nvar rooms_nodes = global.get('rooms_nodes');\nvar rooms_nodes_list = global.get('rooms_nodes_list');\n\nif(rooms_nodes===undefined)\n{\n    rooms_nodes = [];\n    rooms_nodes.push({\n        room: go_to_room, \n        nodes:[]\n    });\n    \n    rooms_nodes_list = [];\n    rooms_nodes_list.push(go_to_room);\n}\n\nelse if (rooms_nodes_list.indexOf(go_to_room)==-1)\n{\n    rooms_nodes.push({\n        room: go_to_room, \n        nodes: []\n    });\n    \n    rooms_nodes_list.push(go_to_room);\n}\n\nglobal.set('rooms_nodes',rooms_nodes);\nglobal.set('rooms_nodes_list',rooms_nodes_list);\n\ngo_to_ix = rooms.payload.indexOf(go_to_room);\n\nmsg.payload = go_to_ix;\n\nreturn msg;","outputs":1,"noerr":0,"x":980.7212371826172,"y":459.94517517089844,"wires":[["97ecd187.06ae28","6c926a2f.5e5fdc"]]},{"id":"4fafb5b7.26887c","type":"ui_template","z":"fa29b442.55ef48","group":"7c56a72e.a45e6","name":"","order":0,"width":"14","height":"15","format":"<html>\n<head>\n<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n<table id=\"RoomTable\">\n  <tr>\n    <th>Current Rooms</th>\n  </tr>\n</table>\n<script>\n    (function(scope) {\n        scope.$watch('msg.options', function(data) {\n    \n        var table = document.getElementById(\"RoomTable\");\n\n        var rowCount = table.rows.length; \n        while(--rowCount) table.deleteRow(rowCount);\n        \n        for(var i = 0;i<data.length;i++){\n            var row  = table.insertRow();\n            var cell = row.insertCell(0);\n            cell.innerHTML = data[i];\n        }\n        });\n    })(scope);\n</script>\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"x":945.6879730224609,"y":211.42852783203125,"wires":[[]]},{"id":"97ecd187.06ae28","type":"debug","z":"fa29b442.55ef48","name":"","active":false,"console":"false","complete":"true","x":1181.292724609375,"y":616.0142211914062,"wires":[]},{"id":"6c926a2f.5e5fdc","type":"link out","z":"fa29b442.55ef48","name":"go to room","links":["26cd14f.67e6cec"],"x":1239.880859375,"y":493.3332824707031,"wires":[]},{"id":"c46cb1de.639ea8","type":"debug","z":"fa29b442.55ef48","name":"","active":false,"console":"false","complete":"true","x":888.125,"y":568.75,"wires":[]},{"id":"f0e259a4.5fc718","type":"debug","z":"fa29b442.55ef48","name":"","active":false,"console":"false","complete":"true","x":424.375,"y":538.75,"wires":[]},{"id":"588bdbfe.6aada4","type":"function","z":"fa29b442.55ef48","name":"","func":"var rooms = {};\nrooms.options = flow.get('rooms').payload;\nreturn rooms;","outputs":1,"noerr":0,"x":446.875,"y":72.5,"wires":[["c312f328.3d6e4","cdd3b1b2.703458","43678d20.6ccb6c"]]},{"id":"8756e2cb.1c9e28","type":"link in","z":"fa29b442.55ef48","name":"back to rooms","links":["87c0d0e7.ae7438"],"x":166.875,"y":67.5,"wires":[["588bdbfe.6aada4"]]},{"id":"43678d20.6ccb6c","type":"debug","z":"fa29b442.55ef48","name":"","active":false,"console":"false","complete":"true","x":694.375,"y":41.25,"wires":[]},{"id":"8fe82aa7.7e168","type":"ui_group","z":"","name":"New Rooms","tab":"996f18d3.c96d9","order":1,"disp":true,"width":"6"},{"id":"7c56a72e.a45e6","type":"ui_group","z":"","name":"Table of Rooms","tab":"996f18d3.c96d9","order":3,"disp":false,"width":"14"},{"id":"996f18d3.c96d9","type":"ui_tab","z":"","name":"RoomCreate","icon":"dashboard"}]