flows/NodeHist.json
[{"id":"892b29b4.bcef58","type":"link in","z":"183942a0.e896ad","name":"node history","links":["ed347bd9.c15528"],"x":90,"y":79.75,"wires":[["ad46d241.39e0d","fde4df11.66377"]]},{"id":"ad46d241.39e0d","type":"ui_text","z":"183942a0.e896ad","group":"79771e11.485a1","order":0,"width":0,"height":0,"name":"","label":"Node: ","format":"{{msg.payload}}","layout":"row-spread","x":291.25,"y":51,"wires":[]},{"id":"1cc0cc47.ba77b4","type":"ui_button","z":"183942a0.e896ad","name":"","group":"79771e11.485a1","order":0,"width":0,"height":0,"passthru":false,"label":"Back To Node List","color":"","bgcolor":"","icon":"","payload":"NodeCreate","payloadType":"str","topic":"","x":190,"y":633.5,"wires":[["d4b988aa.29ace8"]]},{"id":"d4b988aa.29ace8","type":"ui_ui_control","z":"183942a0.e896ad","name":"ui control","x":426.25,"y":634.75,"wires":[[]]},{"id":"fde4df11.66377","type":"function","z":"183942a0.e896ad","name":"","func":"var node = msg.payload;\n\nmsg = {};\n\nmsg.payload = {\"Addr\":node};\nmsg.limit = 100;\nmsg.sort = {\"Time\":-1};\n//,{\"limit\":10}\n\nreturn msg;","outputs":1,"noerr":0,"x":263.75,"y":218.5,"wires":[["5d5a8edc.8c9fa","2833f86d.ab1278"]]},{"id":"ae054aee.e662f8","type":"debug","z":"183942a0.e896ad","name":"","active":false,"console":"false","complete":"true","x":885,"y":134.75,"wires":[]},{"id":"5d5a8edc.8c9fa","type":"debug","z":"183942a0.e896ad","name":"","active":false,"console":"false","complete":"false","x":437.5,"y":387.25,"wires":[]},{"id":"8cfe2bc5.cd3be8","type":"function","z":"183942a0.e896ad","name":"","func":"for( var i = 0; i<msg.payload.length; i++)\n{\n    var oldtime = new Date(msg.payload[i].Time);\n    var date = (oldtime.getMonth()+1)+'/'+oldtime.getDate()+'/'+oldtime.getFullYear();\n    var time = oldtime.getHours() + \":\" + oldtime.getMinutes() + \":\" + oldtime.getSeconds();\n    msg.payload[i].Time = date+' -- '+time;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":788.125,"y":309.75,"wires":[["4d61cbbf.162434","a88bbe98.e58a5"]]},{"id":"4d61cbbf.162434","type":"debug","z":"183942a0.e896ad","name":"","active":true,"console":"false","complete":"true","x":1155,"y":251,"wires":[]},{"id":"2833f86d.ab1278","type":"mongodb in","z":"183942a0.e896ad","mongodb":"794c8e52.a03f9","name":"","collection":"MolexTagData","operation":"find","x":556.25,"y":133.5,"wires":[["ae054aee.e662f8","8cfe2bc5.cd3be8"]]},{"id":"a88bbe98.e58a5","type":"ui_template","z":"183942a0.e896ad","group":"fb42ddfa.83029","name":"","order":2,"width":"16","height":"10","format":"<html>\n<head>\n<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n<table id=\"RoomTable\">\n  <tr>\n    <th>Node</th>\n    <th>Temp (F)</th>\n    <th>Humidity (%)</th>\n    <th>Light</th>\n    <th>Time (24hr)</th>\n  </tr>\n</table>\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n    \n            //just a way of parsing what kind of message came through\n            var table = document.getElementById(\"RoomTable\");\n\n            var rowCount = table.rows.length; \n            while(--rowCount) table.deleteRow(rowCount);\n        \n            for(var i = 0;i<data.length;i++){\n                var row  = table.insertRow();\n                row.id = data[i];\n                var time = row.insertCell(0);\n                var light = row.insertCell(0);\n                var humid = row.insertCell(0);\n                var temp = row.insertCell(0);\n                var addr = row.insertCell(0);\n                addr.innerHTML = data[i].Addr;\n                temp.innerHTML = data[i].Temp;\n                humid.innerHTML = data[i].Humidity;\n                light.innerHTML = data[i].Luminosity;\n                time.innerHTML = data[i].Time;\n\n            }\n        });\n    })(scope);\n</script>\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"x":1064.375,"y":476,"wires":[[]]},{"id":"79771e11.485a1","type":"ui_group","z":"","name":"Node_History","tab":"a18773bf.7b763","disp":false,"width":"6"},{"id":"794c8e52.a03f9","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red-db","name":"nodeRedDB"},{"id":"fb42ddfa.83029","type":"ui_group","z":"","name":"NodeHistoryTable","tab":"a18773bf.7b763","disp":true,"width":"16"},{"id":"a18773bf.7b763","type":"ui_tab","z":"","name":"NodeHistory","icon":"dashboard","order":3}]