flows/NodeCreate.json
[{"id":"a676f015.a2d68","type":"tcp in","z":"62c1207e.a149f","name":"","server":"server","host":"","port":"3300","datamode":"single","datatype":"utf8","newline":"","topic":"","base64":false,"x":238,"y":65.46430206298828,"wires":[["53d0c9af.3918e8"]]},{"id":"c304b028.3f95b","type":"inject","z":"62c1207e.a149f","name":"","topic":"","payload":"Addr,81,T,30,H,35,L,1","payloadType":"str","repeat":"","crontab":"","once":false,"x":176.42855834960938,"y":185.8309555053711,"wires":[["53d0c9af.3918e8"]]},{"id":"53d0c9af.3918e8","type":"function","z":"62c1207e.a149f","name":"","func":"data = msg.payload.split(\",\");\n\nvar obj = {\n            \"Time\": Date.now(),\n            \"Addr\": data[1], \n            \"Temp\": data[3], \n            \"Humidity\": data[5],\n            \"Luminosity\" : data[7]\n            };\nvar message = {};\nmessage.payload = obj;\n\nreturn message","outputs":1,"noerr":0,"x":378.857177734375,"y":217.99283599853516,"wires":[["fda278db.961ed8","970cadfc.ec869","bd2c42e9.ba207","7cb3756.553c58c"]]},{"id":"fda278db.961ed8","type":"function","z":"62c1207e.a149f","name":"","func":"/*\nvar today = new Date();\nvar date = (today.getMonth()+1)+'/'+today.getDate()+'/'+today.getFullYear();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar dateTime = date+' '+time;\n\nmsg.payload.Time = dateTime;\n\nvar current_nodes = flow.get('current_nodes');\n\nif(current_nodes.indexOf(msg.payload.Addr)==-1)\n{\n    return;\n}\n\nelse\n{\n    var new_msg = {};\n    new_msg.options = msg.payload;\n    return new_msg;\n}\n*/\n\n//just reminding table to update now that new data is here\nvar current_nodes = flow.get('current_nodes');\n\nmsg.options = current_nodes;\n\nreturn msg;","outputs":1,"noerr":0,"x":528.0003967285156,"y":263.6166458129883,"wires":[["f5bece77.fe3b9","c92aac51.e2fcc"]]},{"id":"8ef07e34.728d","type":"inject","z":"62c1207e.a149f","name":"","topic":"","payload":"Addr,82,T,72,H,55,L,0","payloadType":"str","repeat":"","crontab":"","once":false,"x":180.00001525878906,"y":282.8309555053711,"wires":[["53d0c9af.3918e8"]]},{"id":"970cadfc.ec869","type":"debug","z":"62c1207e.a149f","name":"","active":true,"console":"false","complete":"true","x":610.3214416503906,"y":81.24290466308594,"wires":[]},{"id":"566190a3.0e3a4","type":"link in","z":"62c1207e.a149f","name":"Go to room","links":["e8478e90.5b922"],"x":63.023773193359375,"y":970.5116958618164,"wires":[["669c364c.a79c28","acd48f18.cf0bc","20fab4de.f5396c"]]},{"id":"669c364c.a79c28","type":"function","z":"62c1207e.a149f","name":"","func":"var rooms = global.get('rooms');\n\nvar current_room = {};\ncurrent_room.payload  = rooms.payload[msg.payload];\n\nflow.set('current_room',current_room);\n\nreturn current_room;","outputs":1,"noerr":0,"x":284.3927001953125,"y":890.7497940063477,"wires":[["a627aaf6.958e78","a8fec079.24f16"]]},{"id":"a8fec079.24f16","type":"debug","z":"62c1207e.a149f","name":"","active":false,"console":"false","complete":"true","x":516.9285583496094,"y":838.2973709106445,"wires":[]},{"id":"4712da12.c2cf94","type":"ui_form","z":"62c1207e.a149f","name":"","label":"","group":"ce0a5063.92476","order":1,"width":0,"height":0,"options":[{"label":"Submit Node Address","value":"addr","type":"text","required":false}],"formValue":{"addr":""},"payload":"","topic":"","x":59.5714111328125,"y":432.1785354614258,"wires":[["d116e29c.93366","f8251432.c2d1c8"]]},{"id":"d116e29c.93366","type":"function","z":"62c1207e.a149f","name":"store nodes","func":"var rooms_nodes = global.get('rooms_nodes');\nvar rooms_nodes_list = global.get('rooms_nodes_list');\n\nvar current_room = flow.get('current_room').payload;\n\nvar current_nodes_ix = rooms_nodes_list.indexOf(current_room);\n\nvar current_room_nodes = rooms_nodes[current_nodes_ix];\n\ncurrent_nodes = current_room_nodes.nodes;\n\nvar new_node = msg.payload.addr;\n\nif(new_node === undefined) \n{\n    var msg = {};\n    msg.options = current_nodes;\n    flow.set('current_nodes',current_nodes);\n    return msg\n\n}\n\nelse if (current_nodes.length === 0)\n{\n    current_nodes.push(new_node);\n    current_room_nodes.nodes = current_nodes;\n    rooms_nodes[current_nodes_ix] = current_room_nodes;\n    \n    flow.set('current_nodes',current_nodes);\n    \n    var msg = {};\n    msg.options = current_nodes;\n    return msg;\n\n}\n\nelse if(current_nodes.indexOf(new_node)==-1)\n{\n    current_nodes.push(new_node);\n    current_room_nodes.nodes = current_nodes;\n    rooms_nodes[current_nodes_ix] = current_room_nodes;\n    \n    flow.set('current_nodes',current_nodes);\n    \n    var msg = {};\n    msg.options = current_nodes;\n    return msg;\n}\n\nelse\n{\n    var msg = {};\n    msg.options = current_nodes;\n    flow.set('current_nodes',current_nodes);\n    return msg;\n    \n}","outputs":1,"noerr":0,"x":426.428466796875,"y":492.47855377197266,"wires":[["a1073292.40a7a","360e823a.75c23e","9b50c651.cfd3b8","bf90d1b9.33b6d"]]},{"id":"a1073292.40a7a","type":"debug","z":"62c1207e.a149f","name":"","active":false,"console":"false","complete":"true","x":563.0357360839844,"y":410.9331741333008,"wires":[]},{"id":"f8251432.c2d1c8","type":"debug","z":"62c1207e.a149f","name":"","active":false,"console":"false","complete":"true","x":79.92669677734375,"y":584.7222671508789,"wires":[]},{"id":"360e823a.75c23e","type":"ui_dropdown","z":"62c1207e.a149f","name":"","label":"Remove  Node","place":"Select option","group":"ce0a5063.92476","order":4,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":687.3554382324219,"y":594.6746597290039,"wires":[["a3b41b33.cd0fd8"]]},{"id":"a3b41b33.cd0fd8","type":"function","z":"62c1207e.a149f","name":"update_remove_nodes","func":"var rm_room = msg.payload;\n\nvar current_nodes = flow.get('current_nodes');\n\nvar rm_ix = current_nodes.indexOf(rm_room);\n\nif (rm_ix===0)\n{current_nodes.shift();}\n\nelse {\ncurrent_nodes.splice(rm_ix,1);\n}\n\nvar nodes = {};\nnodes.options = current_nodes;\n\nreturn nodes;","outputs":1,"noerr":0,"x":707.7319641113281,"y":689.6551284790039,"wires":[["360e823a.75c23e","63b0acff.098524","9b50c651.cfd3b8","bf90d1b9.33b6d"]]},{"id":"41b919dd.bbe568","type":"ui_button","z":"62c1207e.a149f","name":"","group":"ce0a5063.92476","order":3,"width":0,"height":0,"passthru":false,"label":"Back to Rooms","color":"","bgcolor":"","icon":"","payload":"RoomCreate","payloadType":"str","topic":"","x":826.2142639160156,"y":903.3214492797852,"wires":[["c3d39632.bc4fe8","ab7e67aa.8aae78"]]},{"id":"a627aaf6.958e78","type":"ui_text","z":"62c1207e.a149f","group":"394096f3.19d07a","order":1,"width":0,"height":0,"name":"","label":"Current Room:","format":"{{msg.payload}}","layout":"row-left","x":532.9642639160156,"y":925.3214492797852,"wires":[]},{"id":"c177e945.1898f8","type":"ui_ui_control","z":"62c1207e.a149f","name":"ui control","x":198.23211669921875,"y":664.5000381469727,"wires":[["d116e29c.93366"]]},{"id":"acd48f18.cf0bc","type":"function","z":"62c1207e.a149f","name":"","func":"msg.payload = \"NodeCreate\";\nreturn msg;","outputs":1,"noerr":0,"x":98.58932495117188,"y":821.4643325805664,"wires":[["c177e945.1898f8"]]},{"id":"c3d39632.bc4fe8","type":"ui_ui_control","z":"62c1207e.a149f","name":"ui control","x":1049.2142639160156,"y":1034.3214492797852,"wires":[[]]},{"id":"ab7e67aa.8aae78","type":"link out","z":"62c1207e.a149f","name":"back to rooms","links":["48f26551.3bf7cc"],"x":1072.3392639160156,"y":905.5714492797852,"wires":[]},{"id":"63b0acff.098524","type":"debug","z":"62c1207e.a149f","name":"","active":false,"console":"false","complete":"true","x":953.1428527832031,"y":765.7500991821289,"wires":[]},{"id":"20fab4de.f5396c","type":"debug","z":"62c1207e.a149f","name":"","active":false,"console":"false","complete":"true","x":294.5714111328125,"y":1010.0358047485352,"wires":[]},{"id":"f5bece77.fe3b9","type":"debug","z":"62c1207e.a149f","name":"","active":false,"console":"false","complete":"true","x":724.5719299316406,"y":218.6070327758789,"wires":[]},{"id":"9b50c651.cfd3b8","type":"ui_dropdown","z":"62c1207e.a149f","name":"","label":"Go To Node","place":"Select option","group":"ce0a5063.92476","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1179.2142639160156,"y":599.3214492797852,"wires":[["f749cca6.3b75b","ed347bd9.c15528"]]},{"id":"f749cca6.3b75b","type":"function","z":"62c1207e.a149f","name":"","func":"msg.payload = \"NodeHistory\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1264.4641418457031,"y":706.3215103149414,"wires":[["aea84359.49325","21e6a00d.38fd3"]]},{"id":"aea84359.49325","type":"debug","z":"62c1207e.a149f","name":"","active":false,"console":"false","complete":"true","x":1265.0356750488281,"y":883.6405410766602,"wires":[]},{"id":"ed347bd9.c15528","type":"link out","z":"62c1207e.a149f","name":"go to node history","links":["892b29b4.bcef58"],"x":1402.3739318847656,"y":600.9595718383789,"wires":[]},{"id":"21e6a00d.38fd3","type":"ui_ui_control","z":"62c1207e.a149f","name":"ui control","x":1443.5892639160156,"y":818.0714492797852,"wires":[[]]},{"id":"bd2c42e9.ba207","type":"mongodb out","z":"62c1207e.a149f","mongodb":"c543412d.eb04d","name":"","collection":"MolexTagData","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":651.6964416503906,"y":24,"wires":[]},{"id":"bf90d1b9.33b6d","type":"function","z":"62c1207e.a149f","name":"","func":"var nodes = msg.options;\n\nmsg = {};\n\nmsg.payload = {\"Addr\": { $in : nodes}};\nmsg.limit = 100;\nmsg.sort = {\"Time\":-1};\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":865.6427307128906,"y":433.42862701416016,"wires":[["8dbddd2a.fcc6c","faeda7db.044f28"]]},{"id":"825ce4f8.fc62d8","type":"debug","z":"62c1207e.a149f","name":"","active":true,"console":"false","complete":"true","x":1478.8570861816406,"y":258.60709381103516,"wires":[]},{"id":"8dbddd2a.fcc6c","type":"debug","z":"62c1207e.a149f","name":"","active":true,"console":"false","complete":"true","x":964.5714416503906,"y":255.74991607666016,"wires":[]},{"id":"faeda7db.044f28","type":"mongodb in","z":"62c1207e.a149f","mongodb":"c543412d.eb04d","name":"","collection":"MolexTagData","operation":"find","x":1148.6789855957031,"y":460.39295196533203,"wires":[["9a0e0f8e.16e7d"]]},{"id":"9a0e0f8e.16e7d","type":"function","z":"62c1207e.a149f","name":"","func":"var nodes = flow.get('current_nodes');\n\nfunction compare(a,b) {\n  if (parseInt(a)< parseInt(b))\n    return -1;\n  if (parseInt(a) > parseInt(b))\n    return 1;\n  return 0;\n}\n\nnodes.sort(compare)\n\n//msg.payload = nodes;\n//return msg;\n\nvar recent_data = [];\n\nfor(var n=0; n < nodes.length; n++){\n    \n    //placeholder for if nothing exists in databse\n    var temp = {}\n    temp.Addr = nodes[n];\n    temp.Temp = 0;\n    temp.Humidity = 0;\n    temp.Luminosity = 0;\n    temp.Time = \"waiting for report\";\n    \n    recent_data.push(temp);\n    \n    //replace if data does exist recently in database\n    for(var i = 0; i<msg.payload.length; i++){\n        if(msg.payload[i].Addr==nodes[n]){\n            \n            var oldtime = new Date(msg.payload[i].Time);\n            var date = (oldtime.getMonth()+1)+'/'+oldtime.getDate()+'/'+oldtime.getFullYear();\n            var time = oldtime.getHours() + \":\" + oldtime.getMinutes() + \":\" + oldtime.getSeconds();\n            msg.payload[i].Time = date+' -- '+time;\n            \n            recent_data[n]=msg.payload[i];\n            break;\n        }\n        \n    }\n}\n\nmsg = {};\nmsg.payload = recent_data;\nreturn msg;","outputs":1,"noerr":0,"x":1293.1429748535156,"y":307.17847442626953,"wires":[["825ce4f8.fc62d8","17340aeb.8aae35"]]},{"id":"17340aeb.8aae35","type":"ui_template","z":"62c1207e.a149f","group":"394096f3.19d07a","name":"","order":2,"width":"16","height":"10","format":"<html>\n<head>\n<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n<table id=\"RoomTable\">\n  <tr>\n    <th>Node</th>\n    <th>Temp (F)</th>\n    <th>Humidity (%)</th>\n    <th>Light</th>\n    <th>Time (24hr)</th>\n  </tr>\n</table>\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n    \n            //just a way of parsing what kind of message came through\n            var table = document.getElementById(\"RoomTable\");\n\n            var rowCount = table.rows.length; \n            while(--rowCount) table.deleteRow(rowCount);\n        \n            for(var i = 0;i<data.length;i++){\n                var row  = table.insertRow();\n                var time = row.insertCell(0);\n                var light = row.insertCell(0);\n                var humid = row.insertCell(0);\n                var temp = row.insertCell(0);\n                var addr = row.insertCell(0);\n                addr.innerHTML = data[i].Addr;\n                temp.innerHTML = data[i].Temp;\n                humid.innerHTML = data[i].Humidity;\n                light.innerHTML = data[i].Luminosity;\n                time.innerHTML = data[i].Time;\n\n            }\n        });\n    })(scope);\n</script>\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"x":1448.1428527832031,"y":464.3214797973633,"wires":[[]]},{"id":"c92aac51.e2fcc","type":"delay","z":"62c1207e.a149f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":713.142835344587,"y":334.3214492797851,"wires":[["bf90d1b9.33b6d"]]},{"id":"3f8c825b.2c201e","type":"function","z":"62c1207e.a149f","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1215.8333435058594,"y":140,"wires":[[]]},{"id":"7cb3756.553c58c","type":"function","z":"62c1207e.a149f","name":"","func":"msg.payload={\"Time\": {$lt:Date.now()-2678400000}}\nreturn msg","outputs":1,"noerr":0,"x":660.8334045410156,"y":152.00000762939453,"wires":[["55f89990.f70838"]]},{"id":"55f89990.f70838","type":"mongodb out","z":"62c1207e.a149f","mongodb":"c543412d.eb04d","name":"","collection":"MolexTagData","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":1004.8334045410156,"y":107.00000762939453,"wires":[]},{"id":"ce0a5063.92476","type":"ui_group","z":"","name":"Nodes to Add","tab":"94dd2ff5.526d5","order":1,"disp":true,"width":"6"},{"id":"394096f3.19d07a","type":"ui_group","z":"","name":"Node Data","tab":"94dd2ff5.526d5","disp":true,"width":"16"},{"id":"c543412d.eb04d","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red-db","name":"nodeRedDB"},{"id":"94dd2ff5.526d5","type":"ui_tab","z":"","name":"NodeCreate","icon":"","order":2}]