flows/RoomCreate.json
[{"id":"3c22a813.ad60b8","type":"ui_form","z":"c28eba52.bbd098","name":"","label":"","group":"1efc1fa8.500fd","order":0,"width":0,"height":0,"options":[{"label":"Add Room","value":"NewRoom","type":"text","required":false}],"formValue":{"NewRoom":""},"payload":"","topic":"","x":61,"y":201.10713958740234,"wires":[["26cdaf2d.353ad","4890d2e8.383ccc"]]},{"id":"26cdaf2d.353ad","type":"function","z":"c28eba52.bbd098","name":"store rooms","func":"var new_room = msg.payload.NewRoom;\n\nvar rooms = {};\nrooms = flow.get('rooms');\n\nif (rooms === undefined)\n{\n    var room_list =[];\n    room_list.push(new_room);\n  \n    rooms = {};\n    rooms.payload = room_list;\n\n    flow.set('rooms',rooms);\n    global.set('rooms',rooms);\n    \n    return rooms\n}\n\nif(rooms.payload.indexOf(new_room) == -1)\n{\n    rooms.payload.push(new_room);\n}\n\nflow.set('rooms',rooms);\nglobal.set('rooms',rooms);\n\nreturn rooms","outputs":1,"noerr":0,"x":254.99998474121094,"y":191.40714263916016,"wires":[["1842ec15.e25104"]]},{"id":"4890d2e8.383ccc","type":"debug","z":"c28eba52.bbd098","name":"","active":false,"console":"false","complete":"true","x":144.64093017578125,"y":340.2223205566406,"wires":[]},{"id":"5610e495.786d4c","type":"ui_dropdown","z":"c28eba52.bbd098","name":"","label":"Remove Room","place":"Select option","group":"1efc1fa8.500fd","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":634.4981384277344,"y":406.46043395996094,"wires":[["1c87f9f2.86f696","1e7b28af.5181a7"]]},{"id":"1842ec15.e25104","type":"function","z":"c28eba52.bbd098","name":"","func":"var msg2 = {};\n\nmsg2.options = msg.payload;\n\nreturn msg2;","outputs":1,"noerr":0,"x":393.2709655761719,"y":326.48309326171875,"wires":[["5610e495.786d4c","b7e0deaa.504f3","ef5786f4.f49438","692e3d8e.f08194"]]},{"id":"1c87f9f2.86f696","type":"function","z":"c28eba52.bbd098","name":"","func":"var rm_room = msg.payload;\n\nvar current_rooms = flow.get('rooms').payload\n\nif(rm_room===undefined)\n{\n    return\n}\n\nvar rm_ix = current_rooms.indexOf(rm_room);\n\nif (rm_ix===0)\n{current_rooms.shift();}\n\nelse {\ncurrent_rooms.splice(rm_ix,1);\n}\n\nvar rooms = {};\nrooms.payload = current_rooms;\nflow.set('rooms',rooms);\n\nvar rooms = {};\nrooms.options = current_rooms;\nreturn rooms;","outputs":1,"noerr":0,"x":640.5890197753906,"y":532.8694152832031,"wires":[["5610e495.786d4c","b7e0deaa.504f3","ef5786f4.f49438"]]},{"id":"b7e0deaa.504f3","type":"ui_dropdown","z":"c28eba52.bbd098","name":"","label":"Go To Room","place":"Select option","group":"1efc1fa8.500fd","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":928.4355621337891,"y":328.9451904296875,"wires":[["1d58d914.5ba487"]]},{"id":"1d58d914.5ba487","type":"function","z":"c28eba52.bbd098","name":"","func":"var go_to_room = msg.payload;\nvar rooms = flow.get('rooms');\nvar rooms_nodes = global.get('rooms_nodes');\nvar rooms_nodes_list = global.get('rooms_nodes_list');\n\nif(rooms_nodes===undefined)\n{\n    rooms_nodes = [];\n    rooms_nodes.push({\n        room: go_to_room, \n        nodes:[]\n    });\n    \n    rooms_nodes_list = [];\n    rooms_nodes_list.push(go_to_room);\n}\n\nelse if (rooms_nodes_list.indexOf(go_to_room)==-1)\n{\n    rooms_nodes.push({\n        room: go_to_room, \n        nodes: []\n    });\n    \n    rooms_nodes_list.push(go_to_room);\n}\n\nglobal.set('rooms_nodes',rooms_nodes);\nglobal.set('rooms_nodes_list',rooms_nodes_list);\n\ngo_to_ix = rooms.payload.indexOf(go_to_room);\n\nmsg.payload = go_to_ix;\n\nreturn msg;","outputs":1,"noerr":0,"x":957.4355010986328,"y":469.69517517089844,"wires":[["a19ea5a9.afc7d8","e8478e90.5b922"]]},{"id":"ef5786f4.f49438","type":"ui_template","z":"c28eba52.bbd098","group":"784e73c9.960e7c","name":"","order":0,"width":"14","height":"15","format":"<html>\n<head>\n<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n<table id=\"RoomTable\">\n  <tr>\n    <th>Current Rooms</th>\n  </tr>\n</table>\n<script>\n    (function(scope) {\n        scope.$watch('msg.options', function(data) {\n    \n        var table = document.getElementById(\"RoomTable\");\n\n        var rowCount = table.rows.length; \n        while(--rowCount) table.deleteRow(rowCount);\n        \n        for(var i = 0;i<data.length;i++){\n            var row  = table.insertRow();\n            var cell = row.insertCell(0);\n            cell.innerHTML = data[i];\n        }\n        });\n    })(scope);\n</script>\n</body>\n</html>\n","storeOutMessages":false,"fwdInMessages":false,"x":922.4022369384766,"y":221.17852783203125,"wires":[[]]},{"id":"a19ea5a9.afc7d8","type":"debug","z":"c28eba52.bbd098","name":"","active":false,"console":"false","complete":"true","x":1158.0069885253906,"y":625.7642211914062,"wires":[]},{"id":"e8478e90.5b922","type":"link out","z":"c28eba52.bbd098","name":"go to room","links":["566190a3.0e3a4"],"x":1216.5951232910156,"y":503.0832824707031,"wires":[]},{"id":"1e7b28af.5181a7","type":"debug","z":"c28eba52.bbd098","name":"","active":false,"console":"false","complete":"true","x":864.8392639160156,"y":578.5,"wires":[]},{"id":"692e3d8e.f08194","type":"debug","z":"c28eba52.bbd098","name":"","active":false,"console":"false","complete":"true","x":401.0892639160156,"y":548.5,"wires":[]},{"id":"10e693b4.9f1a7c","type":"function","z":"c28eba52.bbd098","name":"","func":"var rooms = {};\nrooms.options = flow.get('rooms').payload;\nreturn rooms;","outputs":1,"noerr":0,"x":423.5892639160156,"y":82.25,"wires":[["5610e495.786d4c","b7e0deaa.504f3","f5b26581.d86e78"]]},{"id":"48f26551.3bf7cc","type":"link in","z":"c28eba52.bbd098","name":"back to rooms","links":["ab7e67aa.8aae78"],"x":143.58926391601562,"y":77.25,"wires":[["10e693b4.9f1a7c"]]},{"id":"f5b26581.d86e78","type":"debug","z":"c28eba52.bbd098","name":"","active":false,"console":"false","complete":"true","x":671.0892639160156,"y":51,"wires":[]},{"id":"8bcb82f.6fe3f8","type":"exec","z":"c28eba52.bbd098","command":"umount","addpay":false,"append":"/dev/sda1","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":565.2811584472656,"y":874.3751525878906,"wires":[[],[],[]]},{"id":"45c7b146.2f2cf","type":"ui_button","z":"c28eba52.bbd098","name":"","group":"1efc1fa8.500fd","order":0,"width":0,"height":0,"passthru":false,"label":"Unmount USB","color":"","bgcolor":"","icon":"","payload":"\"\"","payloadType":"str","topic":"","x":284.95140075683594,"y":889.3021240234375,"wires":[["8bcb82f.6fe3f8"]]},{"id":"f0afc4c3.dbe3c8","type":"ui_button","z":"c28eba52.bbd098","name":"","group":"1efc1fa8.500fd","order":0,"width":0,"height":0,"passthru":false,"label":"Save to USB","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":273.94444274902344,"y":797.7430419921875,"wires":[["230a10d6.40607"]]},{"id":"230a10d6.40607","type":"exec","z":"c28eba52.bbd098","command":"mongoexport","addpay":false,"append":"--db node-red-db --collection MolexTagData --csv --fields Addr,Time,Temp,Humidity,Luminosity --out /home/pi/usb/TagData.csv","useSpawn":"false","timer":"","oldrc":false,"name":"","x":553.6366882324219,"y":794.9921875,"wires":[[],[],[]]},{"id":"b367e442.836448","type":"ui_button","z":"c28eba52.bbd098","name":"","group":"1efc1fa8.500fd","order":0,"width":0,"height":0,"passthru":false,"label":"Clear DB","color":"","bgcolor":"","icon":"","payload":"{\"Time\":{$lt:Date.now()}}","payloadType":"str","topic":"","x":268.8333435058594,"y":974.3334045410156,"wires":[["701fb88c.524b68"]]},{"id":"fc0ce5f1.7f5008","type":"mongodb out","z":"c28eba52.bbd098","mongodb":"c543412d.eb04d","name":"","collection":"MolexTagData","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":1036.8332824707031,"y":954.0001525878906,"wires":[]},{"id":"701fb88c.524b68","type":"function","z":"c28eba52.bbd098","name":"","func":"msg.payload={}\nreturn msg;","outputs":1,"noerr":0,"x":620.8333435058594,"y":964.3333206176758,"wires":[["fc0ce5f1.7f5008"]]},{"id":"1efc1fa8.500fd","type":"ui_group","z":"","name":"New Rooms","tab":"ad33e8a2.028a88","order":1,"disp":true,"width":"6"},{"id":"784e73c9.960e7c","type":"ui_group","z":"","name":"Table of Rooms","tab":"ad33e8a2.028a88","order":3,"disp":false,"width":"14"},{"id":"c543412d.eb04d","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red-db","name":"nodeRedDB"},{"id":"ad33e8a2.028a88","type":"ui_tab","z":"","name":"RoomCreate","icon":"dashboard","order":1}]